.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.input-border-card {
  border-radius: 25px;
  border-color: #707070 #707070 #707070 #707070;
  /*height: 130px !important;*/
}

.input-border {
  border-radius: 40px;
  border-color: #707070 #707070 #707070 #707070;
  font-size: 14px;
  padding-left: 20px;
}

.social > a {
  color: #707070;
  font-size: 23px;
}

.social {
  text-align: center;
}

hr {
  background-color: #e6e6e6;
  height: 1px;
}

.col.mx-auto.d-flex.align-content-center {
}

.login-socials {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

#navcol-1 {
  display: hidden;
}

@media (max-width: 768px) {
  #navcol-1 {
    display: none;
  }
}

#navcol-1 {
}

@media (max-width: 767px) {
  #services_header {
    text-align: center;
  }
}

#footer_links {
}

#footer_contacts {
  color: #A0A7AD;
}

.navbar-light .navbar-brand:focus, .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link active {
  /*border-bottom: 1px solid #FFF;*/
  padding-bottom: 3px;
}

#quote_src {
  text-align: right;
}

#quote_txt {
  font-size: 13px;
}

#index_table {
}

.navbar-light .navbar-toggler-icon {
  background-color: re;
}

.btn_txt {
  font-size: 12px;
}

@media (max-width: 576px) {
  #nav_toggler {
    margin-left: 10px;
  }
}

@media (max-width: 576px) {
  #username_loggedin {
    margin-right: 10px;
  }
}

@media (max-width: 769px) {
  .footer_details {
    margin-top: 30px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .footer_details_large {
    margin-top: 30px;
  }
}

#nav_toggler {
  background-color: white;
}

.stats_txt {
  font-size: 13px;
  list-style: none;
  display: inline;
  height: 10px;
}

.stats_txt li {
  margin-top: -22px;
}

#navcol-2 {
  height: 100vh;
  /*z-index: 10;*/
}

#nav_items {
  display: table-cell;
  width: 100vw;
  height: inherit;
  padding: 0px;
  vertical-align: middle;
  text-align: center;
  justify-content: left;
}

.input-container {
  display: flex;
}

.modal_top_margin {
  top: 20%;
}

